*{
    font-family: 'Times New Roman', Times, serif;
    background-color: skyblue;
    color: maroon;
}

button{
    padding: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 139, 139,0.3);
    box-shadow: darkred 0px 7px 20px, darkred 0px 2px 2px;
}

button:hover{
    background-color: rgb(0, 139, 139);
    color: red;
}